* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    color: #333;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/blue/blue-background-32BDE9-45b80679.jpg");
}

.countdown-container {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffeded;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #e74c3c;
}

#countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.time-unit {
    text-align: center;
}

.time-unit span {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
}

.time-unit p {
    font-size: 1rem;
    color: #95a5a6;
}
